.aboutyou-interests {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 45%;
  align-items: center;
  justify-content: center;
}
.multistep-wrapper {
  height: 100vh;
}
.multistep-form {
  padding-top: 7rem !important;
}
.login-wrapper {
  overflow-y: hidden !important;
}
.first-multistep {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  width: 50%;
  justify-content: center;
  align-items: center;
}
.events-wrapper {
  display: flex;
  margin-top: 10rem;
  gap: 4rem;
  padding: 0 5rem;
  flex-wrap: wrap;
}

.shop-items-wrapper {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 5rem;
}
